@use '../abstracts/' as vars;
.recently-visited {
    background: vars.$primary-gradient;
    @include vars.flex-box(
        $align-items: center,
        $flex-direction: column,
        $gap-value: 32px
    );
    @include vars.padding(24px, 16px);

    @include vars.breakpoint('medium') {
        @include vars.padding(32px);
        gap: vars.px-to-rem(40px);
    }
    @include vars.breakpoint('large') {
        @include vars.padding($top: 64px, $bottom: 76px);
    }
    &__title {
        color: vars.$white;
        font-weight: vars.$weight-light;
        @include vars.breakpoint('medium') {
            font-size: vars.$size-lg-tablet;
        }
    }
    &__topics {
        max-width: vars.px-to-rem(780px);
        @include vars.flex-box($justify-content: center);
        flex-wrap: wrap;
    }
    &__btn {
        margin: 7px;

        &--first {
            order: -2;
        }
        &--second {
            order: -1;
        }
    }
}
