@use '../abstracts' as vars;

.header {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        position: relative;

        @include vars.breakpoint('medium') {
            flex-direction: row;
            align-items: center;
        }
    }

    &__group {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__hamburger {
        width: vars.px-to-rem(80px);
        height: vars.px-to-rem(80px);
        display: flex;
        justify-content: center;
        align-items: center;
        @include vars.breakpoint('medium') {
            display: none;
        }
    }
    &__brand {
        display: flex;
        align-items: center;
        justify-content: center;

        @include vars.breakpoint('medium') {
            padding-right: vars.px-to-rem(32px);
            margin-left: vars.px-to-rem(68px);
        }
    }

    &__actions {
        display: flex;
        overflow: hidden;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        @include vars.breakpoint('medium') {
            position: static;
        }
    }
}
.main-menu {
    display: none;
    &.is-open {
        display: inline-block;
    }
    @include vars.breakpoint('medium') {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        flex-grow: 1;
        box-sizing: border-box;
    }
    &__item {
        padding: vars.px-to-rem(24px) vars.px-to-rem(132px) vars.px-to-rem(8px)
            vars.px-to-rem(24px);
        color: vars.$orange-500;
        font-weight: vars.$weight-bold;
        font-size: vars.px-to-rem(16px);
        font-family: vars.$font-family;
        @include vars.breakpoint('medium') {
            font-weight: vars.$weight-regular;
            color: vars.$black;
            padding: vars.px-to-rem(10px) vars.px-to-rem(32px)
                vars.px-to-rem(10px) vars.px-to-rem(10px);
        }
    }
    &__item--favoritos {
        display: none;
        @include vars.breakpoint('medium') {
            display: inline;
        }
    }
}

.sub-menu {
    all: initial;
    display: none;

    @include vars.breakpoint('medium') {
        position: absolute;
        top: 100%;
        left: 0;
    }

    &__item {
        all: unset;
        padding-top: vars.px-to-rem(24px);
        padding-bottom: vars.px-to-rem(8px);
        @include vars.breakpoint('medium') {
            padding-left: 24px;
        }
    }
    &__link {
        background: vars.$primary-gradient;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
    &__item:hover {
        @include vars.breakpoint('medium') {
            background: vars.$primary-gradient;
            width: vars.px-to-rem(179px);

            .sub-menu__link {
                background: none;
                color: white;
                -webkit-text-fill-color: white;
                background-clip: border-box;
            }
        }
    }
}
.has-sub-menu {
    position: relative;
}
.has-sub-menu:hover {
    @include vars.breakpoint('medium') {
        background: vars.$primary-gradient;
        color: vars.$white;
    }
    .sub-menu {
        display: flex;
        flex-direction: column;
    }
}

.action-btn {
    display: flex;
    align-items: center;
    padding: vars.px-to-rem(16px);

    @include vars.breakpoint('medium') {
        margin-right: vars.px-to-rem(60px);
    }
    &__text {
        display: none;
        alignment-baseline: central;
        padding-left: vars.px-to-rem(10px);
        font-size: vars.px-to-rem(20px);
        @include vars.breakpoint('large') {
            display: inline-block;
        }
    }
}

.heart {
    @include vars.breakpoint('medium') {
        display: none;
    }
}
.icon-menu {
    font-size: vars.px-to-rem(36px);
    color: vars.$orange-500;
}

.brand-name {
    display: none;
    @include vars.breakpoint('medium') {
        display: inline;
        font-family: vars.$font-brand;
        font-weight: 700;
        font-size: vars.px-to-rem(30px);
    }
}
.brand-type {
    display: none;
    @include vars.breakpoint('medium') {
        display: inline;
        font-family: vars.$font-brand;
        font-weight: vars.$weight-regular;
        font-size: vars.px-to-rem(30px);
    }
}

.logo-img {
    margin: 0 vars.px-to-rem(12px);
}
