@use '../abstracts' as vars;

.btn {
    background-color: vars.$orange-500;
    color: vars.$white;
    font-weight: vars.$weight-bold;
    font-size: vars.$size-md-mobile;
    @include vars.padding($top: 12px, $right: 16px);

    @extend %item-hover;
}
