@use '../abstracts' as vars;

$btn-padding-mobile: vars.px-to-rem(48) vars.px-to-rem(32);
$btn-padding-tablet: vars.px-to-rem(64) vars.px-to-rem(48);
$btn-padding-desktop: vars.px-to-rem(64) vars.px-to-rem(48);

$btn-font-mobile: vars.px-to-rem(14);
$btn-font-tablet: vars.px-to-rem(24);
$btn-font-desktop: vars.px-to-rem(24);

.btn {
    display: inline-block;
    border: none;
    background-color: $orange-500;
    color: $white;
    cursor: pointer;

    font-size: $btn-font-mobile;
    padding: $btn-padding-mobile;

    @include breakpoint('medium') {
        font-size: $btn-font-tablet;
        padding: $btn-padding-tablet;
    }

    @include breakpoint('large') {
        font-size: $btn-font-desktop;
        padding: $btn-padding-desktop;
    }
}
