@use '../abstracts' as vars;

.btn {
    @include vars.padding($top: 12px, $right: 16px);
    background-color: vars.$orange-500;
    color: vars.$white;
    font-weight: vars.$weight-bold;
    font-size: vars.$size-md-mobile;
    text-align: center;
}
