@use '../abstracts/' as vars;

.hero-section {
    height: vars.px-to-rem(215px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: vars.$primary-gradient;
    justify-content: center;

    &__title {
        @include vars.breakpoint('large') {
            font-size: vars.$size-3xl-desktop;
            color: vars.$white;
        }
    }
}
.button-text {
    font-family: vars.$font-family;
}