@use 'sass:math';
@use 'variables' as *;

/// The default browser font size used for calculations
$base-font-size: 16px;

/// Converts pixel values to rem units
/// @param {Number} $pixels - The pixel value to convert, only pixel unit allowed(e.g., 20px)
/// @return {Number} - The calculated value in rems
@function px-to-rem($pixels) {
    @return math.div($pixels, $base-font-size) * 1rem;
}
