@use 'sass:math';

$base-font-size: 16px;

@function rem($pixels) {
    @if math.is-unitless($pixels) {
        @return math.div($pixels, 16) + rem;
    } @else {
        @return math.div($pixels, $base-font-size) * 1rem;
    }
}
