@use 'functions' as *;

// colors
$color-primary: #002f52;
$orange-500: #eb9b00;
$gray-200: #ebecee;
$white: #ffffff;
$black: #000000;
$white: #fff;

$base-font-size: 16px;

// font-family
$font-family: 'Poppins', sans-serif;

// font weights
$weight-bold: 700;
$weight-regular: 400;
$weight-semibold: 500;
$weight-light: 300;

// font-size
$size-sm-mobile: px-to-rem(14px);
$size-md-mobile: px-to-rem(14px);
$size-lg-mobile: px-to-rem(18px);

$size-label-tablet: px-to-rem(14px);
$size-body-tablet: px-to-rem(16px);
$size-md-tablet: px-to-rem(18px);
$size-lg-tablet: px-to-rem(26px);
$size-xl-tablet: px-to-rem(24px);
$size-2xl-tablet: px-to-rem(36px);

$size-label-desktop: px-to-rem(14px);
$size-body-desktop: px-to-rem(16px);
$size-md-desktop: px-to-rem(18px);
$size-lg-desktop: px-to-rem(26px);
$size-xl-desktop: px-to-rem(24px);
$size-2xl-desktop: px-to-rem(32px);
$size-3xl-desktop: px-to-rem(36px);

$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: '/assets/fonts' !default;

$icon-bag: '\e900';
$icon-mail: '\e901';
$icon-heart: '\e902';
$icon-profile: '\e903';
$icon-search: '\e904';
$icon-Menu: '\e905';

$breakpoints: (
    'small': (
        min-width: 428px,
    ),
    'medium': (
        min-width: 1024px,
    ),
    'large': (
        min-width: 1728px,
    ),
) !default;

$btn-padding-mobile: px-to-rem(48) px-to-rem(32);
$btn-padding-tablet: px-to-rem(64) px-to-rem(48);
$btn-padding-desktop: px-to-rem(64) px-to-rem(48);

$btn-font-mobile: px-to-rem(14);
$btn-font-tablet: px-to-rem(24);
$btn-font-desktop: px-to-rem(24);
