@use '../abstracts/variables' as vars;

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: vars.$weight-regular;
    src: url('/assets/fonts/Poppins-Regular.woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: vars.$weight-bold;
    src: url('/assets/fonts/Poppins-Bold.woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: vars.$weight-semibold;
    src: url('/assets/fonts/Poppins-Medium.woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: vars.$weight-light;
    src: url('/assets/fonts/Poppins-Light.woff2');
}
