@use '../abstracts/variables.module' as vars;
@use '../abstracts/mixins' as mx;

body {
    font-size: vars.$size-sm-mobile;
    font-weight: vars.$weight-regular;
    font-family: vars.$font-family;

    @include mx.breakpoint('medium') {
        font-size: vars.$size-body-tablet;
    }

    @include mx.breakpoint('large') {
        font-size: vars.$size-body-desktop;
    }
}

h1 {
    font-size: vars.$size-lg-mobile;
    font-weight: vars.$weight-bold;
    font-family: vars.$font-family;

    @include mx.breakpoint('medium') {
        font-size: vars.$size-2xl-tablet;
    }
}

h2 {
    font-size: vars.$size-lg-mobile;
    font-weight: vars.$weight-bold;
    font-family: vars.$font-family;
    color: vars.$orange-500;

    @include mx.breakpoint('medium') {
        font-size: vars.$size-xl-tablet;
    }

    @include mx.breakpoint('large') {
        font-size: vars.$size-2xl-desktop;
    }
}

h3 {
    font-size: vars.$size-md-mobile;
    font-weight: vars.$weight-bold;
    line-height: 1.3;

    @include mx.breakpoint('medium') {
        font-size: vars.$size-body-tablet;
    }

    @include mx.breakpoint('extra-large') {
        font-size: vars.$size-2xl-desktop;
    }
}

.subheading {
    font-size: vars.$size-lg-mobile;
    font-weight: vars.$weight-bold;
    color: vars.$color-primary;
    line-height: 1.3;
}

.supporting-text {
    font-size: vars.$size-sm-mobile;
    font-weight: vars.$weight-light;

    @include mx.breakpoint('medium') {
        font-size: vars.$size-body-tablet;
    }
}

.labels {
    font-size: vars.$size-sm-mobile;
    font-weight: vars.$weight-regular;
    color: vars.$label-color;
}
